#main-banner {
    display: inline-flex;
    height: 800px;
    border-bottom: 10px solid #000;
    background-color: #000;
}

.banner1 {
    display: inline-block;
    width: 950px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets/img/house_forest_3d-wallpaper-1920x1080.jpg");
}

#button-containner {
    display: flex;
    width: 452px;
    justify-content: center;
    margin-left: 194px;
    margin-top: 40px;
}

.banner2 {
    display: inline-block;
    width: 490px;
    height: 100%;
    margin-left: 5px;
}