body{
    background-color: #181818;
    width: 1440px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #3385FF;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
}

.logo{
    border-radius: 15px;
    transition: transform 80ms linear;
}

.logo:hover{
    transform: scale(1.05);
}

nav {
    text-align: left;
}

a {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    line-height: 26px;
    text-decoration: none;
    color: #FFF;
    transition: transform 80ms linear;
}

a:hover{
    color: #ffc774;
    transform: scale(1.04);
}

a::before{
    content: "";
    background-color: #FFB84D;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 30px;
}

.button, .button-title {
    display: inline-block;
    background-color: #FFB84D;
    padding: 17px 20px 17px 20px;
    margin-left: 10px;
    margin-right: 0px;
    border-radius: 30px;
    transition: transform 80ms linear, background-color 80ms linear;
}

#main-banner {
    display: inline-flex;
    height: 800px;
    border-bottom: 10px solid #000;
    background-color: #000;
}

.banner1 {
    display: inline-block;
    width: 950px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets/img/house_forest_3d-wallpaper-1920x1080.jpg");
}

#title {
    display: block;
    margin-top: 116px;
    margin-left: 110px;
    width: 600px;
    height: 184px;
    background-color: #3A4042;
    border-radius: 30px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 0px #000;
}

h1 {
    display: inline-block;
    margin: 40px 100px 30px;
    font-size: 40px;
    color: #FFB84D;
}

h2 {
    display: inline-block;
    margin: 0px 180px 44px;
    font-size: 30px;
    color: #FFF;
}

#button-containner {
    display: flex;
    justify-content: space-between;
    width: 452px;
    margin-left: 181px;
    margin-top: 40px;
}

.banner2 {
    display: inline-block;
    width: 490px;
    height: 100%;
    margin-left: 5px;
}

.button-title {
    display: inline-block;
    width: 170px;
    margin: 0px;
    padding: 18px 20px 18px 20px;
    text-align: center;
    background-color: #FFB84D;
    border-radius: 30px;
    transition: transform 80ms linear, background-color 80ms linear;
}

.button:hover, .button-title:hover{
    background-color: #ffc774;
    color: #FFF;
    transform: scale(1.05);
}

.button::before, .button-title::before{
    content: none;
}