.main-banner {
    box-sizing: border-box;
    /* background-image: url("../../assets/img/image.png"); */
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
}

.main-banner .wrapper-banner{
    display: flex;
    flex-direction: column;
    width: max-content;
}

.main-banner .title-box{
    margin-bottom: 30px;
}

.main-banner .navigation-buttons{
    display: flex;
    justify-content: space-evenly;
}