.main-form{
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    background-color: #3A4042;
}

.main-form>.main-title{
    margin-bottom: 50px;
}

.main-form>.main-input{
    margin-bottom: 20px;
}

.main-form>.main-input.-message{
    margin-bottom: 40px;
}

