.main-section{
    box-sizing: border-box;
    background-color: #FFB84D;
    border-bottom: 10px solid #3385FF;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-projects{
    background-color: #000;
    border-bottom: 10px solid #FFB84D;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section.-about{
    background-color: #3385FF;
    border-bottom: 10px solid #000;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

.main-section.-contacts{
    background-color: #3A4042;
    padding-bottom: 50px;
    border: none;
}