.main-input{
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    border: 5px solid #000;
    margin-bottom: 20px;
    outline: none;
    padding: 5px;
}
.main-input.-message{
    height: 320px;
    margin-bottom: 40px;
    resize: none;
}