.skills-section{
    box-sizing: border-box;
    height: 750px;
    background-color: #FFB84D;
    border-bottom: 10px solid #3385FF;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    padding-left: 240px;
    padding-top: 50px;
}

.skills-section .title{
    margin-bottom: 60px;
    text-align: center;
}

.skills-section .wrapper-skills{
    width: 960px;
}

.skills-section .skills-box{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.skills-section .list-skills{
    display: flex;
    flex-wrap: wrap;
    height: 512px;
    justify-content: space-between;
}

.skills-section .container{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 430px;
    height: 90px;
    margin-bottom: 38px;
}